body {
  background: white;
  color: grey;
  font-family: "Courier New", monospace;
  text-align: center;
}

h1 {
  color: black;
  font-family: "Verdana";
}

h4 {
  color: #9999ff;
}

.box {
  border: 15px solid black;
  display: inline-block;
  width: 200px;
  height: 200px;
  padding: 25px auto;
  margin: 5px;
  text-align: center;
  overflow: hide;
}

/* Navigation bar starts here */
/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
